.texto {
    color: white;
    font-family: serif, monospace;
}

.tabela-moda th{
    background-color: #BB86FC;
    text-align: center;
    padding: 5px;
}

.tabela-casa th{
    background-color: #00C4B4;
    text-align: center;
    padding: 5px;
}

table td{
    background-color: #424250;
    padding: 5px;
    border: solid, 2px, white
}